@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-goldman: 'Goldman', sans-serif;
  --font-urbanist: 'Urbanist', sans-serif;
}

.font-goldman {
  font-family: var(--font-goldman);
}

.font-urbanist {
  font-family: var(--font-urbanist);
}

img {
  backface-visibility: hidden;
  transform: translateZ(0);
}

body {
  background: var(--background);
  color: var(--foreground);
}
