@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-cinzel: 'Cinzel', serif;
}

.cinzel-heading {
  font-family: var(--font-cinzel);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

img {
  backface-visibility: hidden;
  transform: translateZ(0);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
